<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D Company Constructions</title>
    {% include 'style.html' %}
</head>
<body class="bg-background text-foreground font-sans antialiased selection:bg-zinc-800 selection:text-white overflow-x-hidden">
{% include 'header.html' %}

    {%block content%}
{%endblock%}

{%include 'footer.html'%}
{%include 'script.html'%}
</body>
</html>
